// =============================================================================
// CURSOR CONFIGURATION
// =============================================================================

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    // xcursor-size 20
}

environment {
    XCURSOR_THEME "Bibata-Modern-Ice"
    XCURSOR_SIZE "24"
}
